<!DOCTYPE html>
<html ng-app='scott'>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js'>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='index.css'>
    <script type="text/javascript" src='index.js'></script>
  </head>
  <body ng-controller='control'>
    <div class='nav'>
      <div class='col-md-4'>
        <h1 class='title'>Reddit Clone</h1>
      </div>
      <div class=col-md-8>
        <i class="fa fa-reddit-alien" ng-click='toggle()'>  Submit New Post</i>
      </div>
    </div>

    
    <div ng-show='showForm'>
      <form name='form' ng-submit='submitPost()' class='newPost'>
        <label class='new'>Title</label>
        <input class='newField' type="text" ng-required='true' ng-model='title' placeholder="Title">
        <label class='new'>Author</label>
        <input class='newField' type="text" ng-required='true' ng-model='author' placeholder='Author'>
        <label class='new'>Image URL</label>
        <input class='newField' type="text" ng-required='true' ng-model='url' placeholder='Picture'>
        <label class='new'>Description</label>
        <input class='newField' type="text" ng-required='true' ng-model='description' placeholder="Talk about it">
        <button class='newField newButton' type=submit ng-click='toggle()' ng-disabled='form.$invalid'>Submit post</button>

      </form>

    </div>
    <div class='post' ng-repeat="post in posts | orderBy:'-upvote'">
      <img class='postPic' src="{{post.url}}" alt="">
      <div class='title_author'>
        <p class='postTitle'>
          {{post.title}}
        </p>
        <p>
          By: {{post.author}}
        </p>
      </div>
      <div class='description'>
        <p>
          {{post.description}}
        </p>
      </div>
      <div class="date_upvote">
        <p>
          {{post.date | date:'medium'}}
        </p>
        <i ng-click='post.upvote = post.upvote + 1' id='hand' class="fa fa-hand-o-up"></i>
        <i ng-click='post.upvote = post.upvote - 1' id='hand' class="fa fa-hand-o-down"></i>
        <p>
          {{post.upvote | number}}
        </p>
        <i id='hand' ng-click='newComment(post, comment)' class="fa fa-comment"></i>
        <i ng-click='toggleComments(post)' id='hand' class="fa fa-pencil"></i>
      </div>
      <div ng-show='post.showCommentForm'>
        <form ng-submit= 'addComment(post, comment)'>
          <!-- <input type='text' ng-model='name' placeholder="Enter your name"> -->
          <textarea ng-model='comment' rows="8" cols="40" placeholder='Enter comment'></textarea>
          <input type='submit' ng-click='toggleComments(post)' value='submit comment'>
        </form>
      </div>
      <div ng-show='post.showComments'>
      <div ng-repeat='comment in post.comments'>
        <p>
          <!-- {{comment.name}} -->
          {{comment}}
        </p>

      </div>
      </div>


    </div>
  </body>
</html>

<!-- <div ng-controller='comments'>
<div ng-repeat="comment in comments">
<div ng-show='showComments'>

</div>
</div>
</div> -->
