<div class='post' ng-repeat="post in seedPosts.posts | orderBy:'-upvote' | orderBy:sorts| filter: finder">
  <div class='container'>
    <div class='col-md-2'>
      <img class='postPic' src="{{post.url}}" alt="">
      <p>{{post.date}}</p>
    </div>
    <div class='col-md-10'>
        <p class='postTitle'>
          {{post.title }} | <span ng-class="(changeColor(post))">{{post.upvote | number}} </span>
          <i ng-click='addVote(post)' id='hand' class="fa fa-hand-o-up"></i>
          <i ng-click='subtractVote(post)' id='hand' class="fa fa-hand-o-down"></i>
        </p>
      <p class='description'>{{post.description}}</p>
      <p>By: {{post.author}}</p>
      <div ng-show='post.showComments'>
        <div ng-repeat='comment in post.comments'>
          <ul>
            <li> {{comment.name}} says {{comment.word}}</li>
          </ul>

        </div>
      </div>
      <div class="date_upvote">
        <i id='hand' ng-click='newComment(post, comment)' class="fa fa-comment">{{numComments}}</i>
        <i ng-click='toggleComments(post)' id='hand' class="fa fa-pencil">Post Comment</i>
      </div>
    </div>
    <div ng-show='post.showCommentForm'>
      <form ng-submit= 'addComment(post, word, name)'>
        <input class='form-control' type='text' ng-model='name' placeholder="Enter your name">
        <br>
        <input class='form-control' ng-model='word' placeholder='Enter comment'>
        <br>
        <button type='submit' class='btn btn-primary' ng-click='toggleComments(post)'>Submit Comment</button>
      </form>
    </div>
  </div>
</div>
